	<body id="homepage">

		<div class="splash_header">

			<div id="roominator_image">
				<%= image_tag "roomie.gif", :id => "logo" %>
			</div>

		</div>

		<div class="mission">
			<div class="mission_text">
				<p id="title">WELCOME TO ROOMINATOR</h3>
					<p>Roominator is going to change your life in the following ways:</p>
					<p>You're amazing, now meet your new also amazing roommate</p>
				</div>


				<p id="text">WHY WE'RE DOING THIS</p>

			</div>

			<div class="video">
				<p>TBA videos!</p>
				<div id="video_frame">
					<iframe width="560" height="315" src="//www.youtube.com/embed/IjVZ8wJxqz0" frameborder="0" allowfullscreen></iframe>
				</div>

			<div>
			<p id="text_about">ABOUT US</p>
		</div>
	</div>



	<div class="about_us">
		<div id="team">
			<div id="team_image">
				<%= image_tag "maria.png", :id => "headshot" %>
			</div>
			<p>Maria!</p> 
		</div>
		<div id="team">

			<div id="team_image">
				<%= image_tag "william.png", :id => "headshot" %>
			</div>
			<p>Will!</p>
		</div>

		<div id="team">

			<div id="team_image">
				<%= image_tag "renata.png", :id => "headshot" %>
			</div>
			<p>Renata!</p>
		</div>
	</div>


</body>