	<body class="homepage">

		<div class="splash_header">

			<div id="roominator_image">
				<img id="logo" src="http://i.imgur.com/SMdXZuL.gif?1">
			</div>

		</div>

		<div class="mission">
			<p>Roominator is going to change your life in the following ways:</p>
			<p>You're amazing, now meet your new also amazing roommate</p>
		</div>

		<div class="video">
			<p>TBA videos!</p>
			<iframe width="560" height="315" src="//www.youtube.com/embed/IjVZ8wJxqz0" frameborder="0" allowfullscreen></iframe>
		</div>


		<div class="about_us">
			<h3>About Us</h3>
			<p>Maria!</p>
			<p>Will!</p>
			<p>Renata!</p>
		</div>


	</body>