	<body class="homepage">

		<div class="splash_header">

			<div id="roominator_image">
						<%= image_tag "roomie.gif", :id => "logo" %>
			</div>


		</div>

		<div class="mission">
			<div class="mission_text">
			<p id="title">WELCOME TO ROOMINATOR</h3>
			<p>Roominator is going to change your life in the following ways:</p>
			<p>You're amazing, now meet your new also amazing roommate</p>
			</div>


		<div class="why">
				<p id="text">WHY WE'RE DOING THIS</p>
			</div>
</div>

		<div class="video">
			<p>TBA videos!</p>
			<iframe width="560" height="315" src="//www.youtube.com/embed/IjVZ8wJxqz0" frameborder="0" allowfullscreen></iframe>
		</div>


		<div class="about_us">
			<h3>About Us</h3>
			<p>Maria!</p>
			<p>Will!</p>
			<p>Renata!</p>
		</div>


	</body>