	<body id="homepage">

		<div class="splash_header">
			<div id="roominator_image">
				<%= image_tag "roominatr.gif", :id => "logo" %>
			</div>
		</div>

		<div id="mission">
			<div class="mission_text">
				<p class="title">WELCOME TO ROOMINATR</p>
				<div class="description">
					<p>Whether you're a neat freak,</p>
					<p>a dedicated partygoer, a workaholic,</p>
					<p>an early riser, or an introvert,</p>
					<p>you deserve a roommate</p>
					<p>that you trust and get along with.</p>
				</div>
				<p class="header">WHY WE'RE DOING THIS</p>
			</div>
		</div>

		<div id="video">
			<div id="video_frame">
				<iframe width="560" height="315" src="//www.youtube.com/embed/IjVZ8wJxqz0" frameborder="0" align="center" allowfullscreen></iframe>
			</div>
			<p class="header">ABOUT US</p>
		</div>

		<div class="about_us">
			<div class="team">
				<div class="team_image">
					<%= image_tag "maria.png", :id => "headshot" %>
				</div>
				<p id="ht">Maria</p> 
			</div>
			<div class="team">
				<div class="team_image">
					<%= image_tag "william.png", :id => "headshot" %>
				</div>
				<p id="ht">Will</p>
			</div>
			<div class="team">
				<div class="team_image">
					<%= image_tag "renata.png", :id => "headshot" %>
				</div>
				<p id="ht">Renata</p>
			</div>
		</div>
</body>