<div id="users">
	<% users.each do |user, compatibility| %>
		<%= render :partial => 'show', :locals => { :user => user, :compatibility => compatibility } %>
	<% end %>
  <%= button_to "More Matches", { action: "show_top_users", page: 2 }, method: :get, :remote => true %>
</div>