<div class="search_result">
	<p id="name"><%= user.username %></p>
	<%= image_tag user.avatar.url(:thumb), :id => "search_pic" %>
	<div id="star_container">
		<%= image_tag "starburst.png", :id => "star" %>
		<p id="score" ><%= user.compatibility_with current_user %>%</p>
	</div>

</div>