<div id="user_password_edit">
	<h3>Update Password</h3>
  <%= form_for @user do |f| %>
  <%= f.password_field :password, placeholder: "password" %><br>
  <%= f.password_field :password_confirmation, placeholder: "password_confirmation" %><br>
  <%= f.submit "Update Password" %>
  <% end %>
</div>
