<h2>Welcome <%= @user.username %>!</h2>

<p> Test Test Test</p>

<link_to "Edit Profile", edit_user_path %>

<%= image_tag @user.avatar.url %>
<%= image_tag @user.avatar.url(:medium) %>
<%= image_tag @user.avatar.url(:thumb) %>