<div id="picture_edit" class="profile_edit">
	<p id="name">Update Picture</p>
	<%= image_tag @user.avatar.url(:thumb), :id => "search_pic" %>
	<%= form_for @user, url: user_picture_path do |f| %>
	  <%= f.file_field :avatar %><br>
	  <%= f.submit "Update Picture" %>
	<% end %>
</div>