<div id="picture_edit" class="profile_edit">
	<h3>Update Picture</h3>
	<%= image_tag @user.avatar.url(:thumb) %>
	<%= form_for @user, url: user_picture_path do |f| %>
	  <%= f.file_field :avatar %><br>
	  <%= f.submit "Update Picture" %>
	<% end %>
</div>