.profile_edit {
	width: 500px;
	margin: 20px;
	border-radius: 10px;
	display:block;
	background-color: white;
	border: #49A5FF solid 8px;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 50px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}

h3 {
	margin: 0 0 8px 0;
	padding: 0;
}

#profile_container{
	width: 600px;
	border: #49A5FF solid 8px;
	margin: 50px;
	border-radius: 10px;
	display:block;
	background-color: white;
	margin-top: 100px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 250px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
	margin-top: 60px;
}

#profile_edit_container {
	margin-top: 100px;
	width: 1000px;
}

#user_info_edit {
	float: left;
	width: 450px;
	padding-left: 55px;
	margin-right: 0px;
}

#picture_edit {
	float: right;
	width: 300px;
	margin-left: 0px;
	padding-left: 55px;
}

#user_avatar {
	width: 250px;
}

#user_password_edit {
	width: 600px;
	border: #49A5FF solid 8px;
	margin: 50px;
	border-radius: 10px;
	display:block;
	background-color: white;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 250px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}

.submit {
	background-color: #468DD1;


}

#get_users {
	border: #49A5FF solid 8px;
	margin: 50px;
	border-radius: 10px;

	background-color: white;
	margin-top: 100px;
	padding-bottom: 10px;
	margin-left: 100px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}


#users{
	border: #49A5FF solid 8px;
	border-radius: 10px;
	display:block;
	background-color: white;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 0 0 30px #74cac0;
}

#get_users, p {
	color: black;
}


#create_survey {
	border: #49A5FF solid 8px;
	border-radius: 10px;
	display:block;
	background-color: white;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 150px;
	margin-right: 150px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}

legend {
	font-size: 15pt;
	color:#000;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	font-size: 18pt;
	color: #FF8612;
	margin-left:-7px; 
}

fieldset {
	-moz-border-radius:5px;  
	border-radius: 5px;  
	-webkit-border-radius: 5px; 
	color: #FF8612;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	font-size: 14pt;
	margin-right: 10px;
}

.house_edit{
	border: #49A5FF solid 8px;
	margin: 50px;
	border-radius: 10px;
	display:block;
	background-color: white;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 150px;
	margin-right: 150px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}

input {
	color: #FF8612;
	font-weight: bold;
	font-size: 15px;
	padding: 8px;
	border: 2px solid #49A5FF;
	border-radius:4px;
	background-color: white;
	font-family: 'Fauna One', serif;
}

textarea {
	color: #FF8612;
	font-weight: bold;
	font-size: 15px;
	padding: 8px;
	border: 2px solid #49A5FF;
	border-radius:4px;
	background-color: white;
	font-family: 'Fauna One', serif;
}

label {
	width: 150px;
	float:left;
}

form select {
	color: #FFB45A;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	border: 2px;
}

#user_pets {
	color: #FFB45A;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	border: 2px;
}

.number_field {
	background-size: 20px;
	padding-right:10px;
}

#search_options {
	margin-bottom: 10px;
}

.filter_button {
	font-family: 'Fauna One', serif;
	font-size: 100%;
	color: #FF8612;
}

.filter_option {
	color: #FF8612;
	background-color: white;
	font-weight: bold;
	font-size: 15px;
	font-family: 'Fauna One', serif;
	padding: 8px;
	border: 2px solid #49A5FF;
	border-radius:4px;
}

#link{
	color: black;
}

#link:hover {
	color:red;
}

#new_house {
	border: 50px;
	border-radius: 10px;
	display:block;
	background-color: white;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 150px;
	margin-right: 150px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}

#edit_house {
	border: #49A5FF solid 8px;
	margin: 50px;
	border-radius: 10px;
	display:block;
	background-color: white;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 150px;
	margin-right: 150px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}

#house_descrption {
	width: 600px;
	height: 120px;
}



