.profile_edit {
	width: 500px;
	margin: 20px;
	border-radius: 10px;
	display:block;
	background-color: white;
	border: #49A5FF solid 8px;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 50px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}

	h3 {
		margin: 0 0 8px 0;
		padding: 0;
	}


#profile_container {
	width: 600px;
	border: #49A5FF solid 8px;
	margin: 50px;
	border-radius: 10px;
	display:block;
	background-color: white;
	margin-top: 100px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 250px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
	margin-top: 60px;
}


#user_info_edit {
	float: left;
}

#picture_edit {
	float: right;
	margin-right: 250px;
	width: 300px;
	padding-left: 75px;
}

#user_password_edit {
	width: 600px;
	border: #49A5FF solid 8px;
	margin: 50px;
	border-radius: 10px;
	display:block;
	background-color: white;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 250px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}

.submit {
	background-color: #468DD1;

}

#get_users {
	border: #49A5FF solid 8px;
	margin: 50px;
	border-radius: 10px;

	background-color: white;
	margin-top: 100px;
	padding-bottom: 10px;
	margin-left: 100px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}


#users{
	border: #49A5FF solid 8px;
	border-radius: 10px;
	display:block;
	background-color: white;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 150px;
	margin-right: 150px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}

#get_users, p {
	color: black;
}


#create_survey {
		border: #49A5FF solid 8px;
	border-radius: 10px;
	display:block;
	background-color: white;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 150px;
	margin-right: 150px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}

legend {
	font-size: 15pt;
	color:#000;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	font-size: 18pt;
	color: #FF8612;
	*margin-left:-7px; /* A hack that only ie reads to position the legend in the same place cross browser */
}

fieldset {
	  -moz-border-radius:5px;  
  border-radius: 5px;  
  -webkit-border-radius: 5px; 
  color: #FF8612;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	font-size: 14pt;
}

#edit_house_2 {
	border: #49A5FF solid 8px;
	margin: 50px;
	border-radius: 10px;
	display:block;
	background-color: white;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 150px;
	margin-right: 150px;
	padding-left: 10px;
	box-shadow: 0 0 30px #74cac0;
}

input {
	 	color: #999;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #999;
    border-radius:2px;
}

select {
		 	color: #FFB45A;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #999;
    border-radius:2px;
}

submit {
		 	color: #FFB45A;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #999;
    border-radius:2px;	
}








