$lightblue: #49A5FF;
$gray: #E1D9E8;

.profile_edit {
	width: 500px;
	border: $lightblue solid 1px;
	margin: 8px;
	padding: 8px;
	border-radius: 10px;

	h3 {
		margin: 0 0 8px 0;
		padding: 0;
	}
}

.submission {
  border: $lightblue solid 1px;
  margin: 8px;
  padding: 8px;
  border-radius: 10px;
}
