.submission {
	border: #49A5FF solid 1px;
	margin: 8px;
	padding: 8px;
	border-radius: 10px;
}

body {
	background-color: #0073A6;
}


#pro_pic {
	width: 300px;
	border: 5px solid #FF8612;
	border-radius: 5px;
}

.basic_info {
	float:right;
	width: 58%;
}

.basic_info, p {
	color: black;
}


.q_title {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	font-size: 18pt;
	color: #FF8612;
}

.response {
	color: black;
}

#profile_container{
	background-color: white;
	width: 780px;
	margin: 50px auto auto auto;
	height:100%;
}

#profile_container, p {
	color: black;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 15pt;
}

#profile_header {
	height: 758px;
}

#best_worst {
	float: right;
	width: 100%;
}

.quotes {
	font-size: 18px;
	color: black;
}

.best {
	width: 50%;
	float:left;
	border-right: 1px solid gray;
}

.worst {
	width: 49%;
	float: right;
	text-align: center;
}
.best, .worst .q_title {
	text-align: center;
}

#survey_info {
	margin-top: 200px;
}


