.submission {
	border: #49A5FF solid 3px;
	margin: 8px;
	padding: 8px;
	border-radius: 10px;
}

body {
	background-color: #0073A6;
}

#pro_pic {
	width: 300px;
	border: 5px solid #FF8612;
	border-radius: 5px;
}

.basic_info {
	float:right;
	width: 58%;
}

.basic_info, p {
	color: black;
}


.q_title {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	font-size: 18pt;
	color: #FF8612;
	margin-bottom: 3px;
}

.response {
	color: black;
	margin: 0;
}

#profile_container{
	background-color: white;
	width: 780px;  
	margin: 50px auto auto auto;

}

#profile_container, p {
	color: black;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14pt;
}

#profile_header {
	height: 100%;
	overflow: auto;
}

#best_worst {
	float: right;
	width: 100%;
}


.quotes {
	font-size: 18px;
	color: black;
}

.best {
	width: 50%;
	float:left;
	border-right: 1px solid gray;
	word-wrap: break-word;
}

.worst {
	width: 49%;
	float: right;
	text-align: center;
	word-wrap: break-word;
}

.best, .worst .q_title {
	text-align: center;
}

#basic {
	margin-top: 0px;
}

#pro_nav{
	font-family: 'Fauna One', serif;
	font-size: 110%;
	color: #FF8612;
	text-decoration: none;
	border: 2px solid #FF8612;
	border-radius: 5px;
	padding: 3px;
}

#pro_nav, a:visited {
	color: #FF8612;
}




