.search_result {
	border: #49A5FF solid 4px;
	margin: 8px;
	padding: 5px;
	border-radius: 10px;
}

#search_pic{
	width: 150px;
	border: 5px solid #FF8612;
	border-radius: 5px;
}

#star_container {
	position:relative;
	float: right;
}


#score {
	color: black;
	font-size: 30pt;
	width: 100px;
	position:absolute;
	text-align: right;
	top: 40px;
	left: 25px;
}


#name {
	color: black;
}

#star {
	width: 150px;
}

#summary {
	color:black;
	width: 100px;
	font-size: 15pt;
	margin: 0;
	
.number_field {
  width: 50px;
}


#profile_container {
		min-width: 600px;
}
