#search_pic{
	width: 150px;
	height: auto;
	border: 5px solid #FF8612;
	border-radius: 5px;
	margin-right: 5px;

}




#name {
	color: black;
}





.number_field {
	width: 50px;
}


#profile_container {
	min-width: 600px;
}

.username {
	color: #FF8612;
}

.username:hover {
	color: red;
}




#house_pic {
	width: 400px;
	height: auto;
	margin-bottom: 10px;
	border: 5px solid #FF8612;
	margin-bottom: 10px;
	border-radius: 10px;
}





.search_result {
	border: #49A5FF solid 4px;
	margin: 8px;
	padding: 5px;
	border-radius: 10px;
	display: block;
	font-size: 20pt;
	font-family: 'Fauna One', serif;
	font-weight: bold;
}

.search_result, p {

}


.summary {
	font-size: 14pt;
	min-width: 300px;
	max-width: 500px;
	display: inline-block;

}

.house {
	width: 500px;
	margin-right: 0;
	display: inline-block;
	margin-bottom: 5px;

}

#house_icon {
	width: 9%; 
	height: auto;
}

#score {
	width: 150px;
	float: right;
	font-size: 40pt;
}


#age_gender {
	width: 200px;
	display: inline-block;
}


























































