


body#homepage{
	background-color: white;
	width: 100%;
	height: 100%;
}


.splash_header {
	margin-top: 45px;
	background-color: #74cac0;
	width: 100%;
	text-align: center;
	background-image: url('http://ejectorseat.co.uk/images/far-clouds.png');
	background-repeat: repeat-x;
	height: 547px;
}

#roominator_image {
	line-height: 0;
	position: relative;
	display:inline-block;
}

#logo {
	display: block;
}

#logo, a {
	color: white;
	text-decoration: none;
}

#logo, a:visited {
	color:white;
}

.mission {
	background-color: #0D4F8E;
	width: 100%;
}

.mission p {
	margin: 0;
	line-height: 2.0;
	color:white;
}


.mission_text {
	line-height: 200px;
	text-align: center
}

.mission, #title {
	font-size: 25pt;
}

.mission_text p {
	font-size: 20pt;
}


#text {
	height: 50px;
	width: 500px;
	text-align: center;
	display: inline-block;
	background-color: #468DD1;
	margin: 0;
}


.video {
	background-color: #468DD1;
	padding-top: 50px;
}

iframe {
	padding-bottom: 50px;
}


#text_about {
	height: 50px;
	margin: 0;
	width: 500px;
	text-align: center;
	display: inline-block;
	background-color: #E62329;
	color: white;
}

.video_frame, iframe {
	margin: 0 auto;
	display: block;	
}

.about_us {
	text-align: center;
	background-color: #E62329;
}

#team {
	display: inline-block;
	overflow: hidden;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 100px;
	margin-bottom: 100px;

}

	#headshot {
		display: block;
		overflow: hidden;
		border-radius: 900px;

		width: 200px;
		height: auto;
	}
#ht {
	color: white;
}




