body#homepage{
	background-color: white;
	width: 100%;
	height: 100%;
}

.splash_header {
	margin-top: 45px;
	background-color: #74cac0;
	width: 100%;
	text-align: center;
	background-image: url('http://ejectorseat.co.uk/images/far-clouds.png');
	background-repeat: repeat-x;
	height: 547px;
}

#roominator_image {
	line-height: 0;
	position: relative;
	display:inline-block;
}

#logo {
	display: block;
}

#logo, a {
	color: white;
	text-decoration: none;
}

#logo, a:visited {
	color:white;
}

#mission {
	background-color: #0D4F8E;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#mission .title {
	font-size: 25pt;
}

#mission p {
	margin: 0 auto;
	line-height: 2.0;
	font-size: 20pt;
	color:white;
}

#mission .mission_text .description {
	width: 700px;
	margin: 0 auto;
}

#mission .header {
	margin-top: 50px;
	background-color: #468DD1;
	font-size: 25pt;
	line-height: 50px;
	vertical-align: center;
	height: 50px;
	width: 500px;
}

#video {
	margin: 0 auto;
	background-color: #468DD1;
	padding-top: 50px;
	text-align: center;
}

iframe {
	padding-bottom: 50px;
}

#video .header {
	font-size: 25pt;
	line-height: 50px;
	height: 50px;
	width: 500px;
	margin: 0 auto;
	margin-top: 50px;
	display: inline-block;
	background-color: #E62329;
	color: white;
}

#video_frame {
	width: 560px;
	height: 315px;
}

#video_frame, iframe {
	text-align: center;
	margin: 0 auto;
	display: block;	
}

.about_us {
	text-align: center;
	background-color: #E62329;
}

.team {
	display: inline-block;
	overflow: hidden;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 100px;
	margin-bottom: 100px;

}

#headshot {
	display: block;
	overflow: hidden;
	border-radius: 900px;
	width: 200px;
	height: auto;
}

#ht {
	color: white;
}

#new_survey_button {
	text-align: center;
}
